/* Welcome , About me Style for Sections */
.section {
    padding: 4rem 2rem;
    background-color: var(--background-dark);
    color: var(--text-light);
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.section.light {
    background-color: var(--background-light);
}

.section.dark {
    background-color: var(--background-dark);
}

.section h2 {
    color: var(--accent-color); /* Accent color for section titles */
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.section p {
    font-size: 1.125rem;
    color: var(--text-dark);
}

/* Project Card Styling */
.project-card {
    box-shadow: var(--shadow-light);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-medium);
}

.project-card img {
    border-radius: var(--border-radius);
    transition: opacity 0.3s ease;
}

.project-card img:hover {
    opacity: 0.9;
}
